@import 'projects';
@import 'project-cards';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.titles{
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

hr {
  border: 0;
  border-top: 1px solid #646cff;
  margin: 1em 0;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.links {
  text-align: left;
  font-size: 0.9em;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 0.1em;
  margin: 0.1em;
  /* border: 1px solid #646cff; */
  border-radius: 5px;
}


button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  :hover {
    border-color: #646cff;
  }
  :focus,
  :focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}


.IframeYT {
 max-width:90%;
 margin:auto;
 left:0;
 right:0;
 padding-bottom:1em;
 border-radius: 5px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0.5em;
  background-color: #5a5a5a;
  img {
    height: 3em;
    will-change: filter;
    transition: filter 300ms;
  }
}

.embed-container {
  position: relative;
  padding: 0;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f1f1f1;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
    text-align:left;
  }
  h2 {
    font-size: 1.1em;
    text-align:left;
  }
  h3 {
    font-size: 1.1em;
    text-align: left;
  }
  #app {
    max-width: 99vw;
    margin:0;
    padding:0!important;
  }
  body{
    margin:0;
    min-width: auto;
  }
}

